* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: rgb(194, 192, 192);
    height: 100%;
}
body {
    height: 100%;
}
.circle {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #f2ff00 15.91%, transparent 15.91%, transparent 50%, #f2ff00 50%, #f2ff00 65.91%, transparent 65.91%, transparent 100%);
    background-size: 16% 16%;
    position: absolute;
    z-index: -1;
    margin-top: 35px;
}
.contain {
    padding: 10px;
    display: flex;
    height: 100%;
    background-image: radial-gradient(rgb(194, 192, 192), grey);
    background-attachment: fixed;
}
.heading {
    padding: 2%;
    margin: 50px 2%;
    font-size: 35px;
    flex: 50%;
}
.row {
    display: flex;
}
.col {
    flex: 50%;
}
.logo {
    float: right;
}
.sm-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 15vh;
    padding: 15px 50px;
    margin-top: 30px;
}
.slogan {
    font-size: 3vh;
    color: rgb(71, 71, 71);
    font-family: 'Montserrat', sans-serif;
}
.slogan a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 5vh;
}
.fullheight {
  height: 100%;
}
.yellow {
    background-image: linear-gradient(45deg, hsl(46, 94%, 65%) 25%, hsl(46, 100%, 49%) 25%, hsl(46, 100%, 49%) 50%, hsl(46, 94%, 65%) 50%, hsl(46, 94%, 65%) 75%, hsl(46, 100%, 49%) 75%, hsl(46, 100%, 49%) 100%);
    background-size: 56.57px 56.57px;
    width: 100%;
    background-attachment: fixed;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12vh;
    text-align: center;
    padding-top: 50px;
}
.container {
    height: 100%;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.tac {
    text-align: center;
}
.cs {
    margin-top: 40px;
    border: 15px solid hsl(46, 94%, 65%);
    border-radius: 20px;
    height: 60%;
}
thead tr th {
    background-color: #ffd900;
    font-weight: bolder;
}
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 4px solid #ffbb00;
}
td {
    border-bottom: 1.5px solid rgb(145, 143, 143);
}
tr {
    transition: 0.3s ease all;
}
table tr:nth-child(odd){background-color: #fff6f6;}
table tr:nth-child(even){background-color: #fff6c5;}

table tr:hover {background-color: #ddd;}
.table {
    overflow-x: auto;
}
.mobile {
    display: none;
}
.mute {
    color: rgb(71, 71, 71);
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
}
.ticon {
    color: black;
    font-size: 25px;
}
.circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
    border: 3px solid white;
    border-radius: 50%;
  }
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
    border: 3px solid white;
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
    border: 1px solid white;

  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.circular-menu-left {
    right: auto; 
    left: 1em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
    background-color: hsl(46, 100%, 49%);
  }
  
  .circular-menu.circular-menu-left:after {
    background-color: hsl(46, 100%, 49%);
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }

.cardrow {
  display: flex;
  width: 60%;
  margin: 20px;
}
.card {
  background-color: hsl(46, 100%, 49%);
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  margin: 15px 15px;
  padding: 10px 10px;
  transition: .4s ease all;
  position: relative;
}
.cardimage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 25px;
}
.cardname {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  background-color: hsl(46, 94%, 65%);
  border-radius: 20px;
  padding: 15px;
}
.cardtext {
  background-color: hsl(46, 94%, 65%);
  border-radius: 20px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  height: 150px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 18px black;
}

@media only screen and (max-width: 720px) {
    .row {
        flex-direction: column-reverse;
    }
    .sm-heading, .title {
        font-size: 6vh;
    }
    .logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .cs {
        height: 300px;
        margin-top: 120px;
    }
    .table {
        margin: 15px 15px;
    }
    .mobile {
        display: block;
    }
    .circular-menu {
        bottom: 0.7em;
        transform: scale(0.85);
    }
    .cardrow {
      flex-direction: column;
      width: 80%;
      margin-left: 0;
    }
    .card {
      margin: 10px;
      margin-left: 0;
    }
}